%html
  %head
    = stylesheet_link_tag 'core'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Press+Start+2P'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cagliostro'
  %body
    .container
      .header
        - if signed_in?
          .top_right
            signed in as 
            = current_user.email
            &middot
            = link_to 'sign out', '/sign_out'
        .logo 
          kaikei 
        .puff
          simplified bookkeeping
        - if signed_in?
          .menu
            = link_to 'bookkeeping', '/bookkeeping'
            &middot;
            ledger
            &middot;
            balance sheet
            &middot;
            statement
      .content     
        = yield
    